body{
    padding: 20px;
}
header{
    height: 60px;
    background-color: rgb(54, 54, 54);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    margin: 20px;
}
.work{
    background-color: grey;
    width: auto;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text_work{
    background-color: aqua;
    width: 350px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 125px;
}
.text_work h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.text_work p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.primer_photo{
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
    border: none;
    border-radius: 15px;
    margin: auto 75px;
}